.cache/
.cask/
.dap-breakpoints
.lsp-session-v1
.org-generic-id-locations
.org-id-locations
.saves/
auto-save-list/
auto-saves/
bookmarks
css/
eaf/
eclipse.jdt.ls/
eln-cache/
elpa/
elpy/
emojis/
eshell/
ess-vterm.el
forge-database.sqlite
icons/
irony/
org-roam.db
org-gcal/
persist/
personal-configs.el
Plan.html
projectile-bookmarks.eld
projectile.cache
projects
recentf*
reports/
request/
scripts/
server/
straight/
timesheets.log
tj3d.log
todo.pdf
todo.bbl
todo.tex
todo.tjp
transient/
tramp
url/
var/
workspace/