.cache/
.cask/
.lsp-session-v1
.org-generic-id-locations
.org-id-locations
.saves/
auto-save-list/
auto-saves/
bookmarks
eaf/
elpa/
elpy/
eshell/
irony/
org-roam.db
org-gcal/
persist/
projectile-bookmarks.eld
projectile.cache
recentf*
request/
server/
straight/
transient/
var/
forge-database.sqlite
personal-configs.el